// Disable writing build results to file
$!callback.setWriteFile(false)

// Debug table primitive object
$!tool.debug($tableInfo.obj)

// Debug column primitive object
$!tool.debug($tableInfo.fullColumn.get(0).obj)

// Debug column primitive column type
$!tool.debug($tableInfo.fullColumn.get(0).obj.dataType)

// Get the fields in the original column type
sqlType = $!tool.getField($tableInfo.fullColumn.get(0).obj.dataType, "typeName")

// Execute methods in primitive column types
sqlTypeLen = $!tableInfo.fullColumn.get(0).obj.dataType.getLength()
