##Import macro definition
$!{define.vm}

##Use macro definition to set callback (save location and file suffix)
#save("/entity", ".java")

##Set package suffix using macro definition
#setPackageSuffix("entity")

##Implementing default package imports using global variables
$!{autoImport.vm}
import java.io.Serializable;

##Implement class annotation information using macro definitions
#tableComment("Entity class")
public class $!{tableInfo.name} implements Serializable {
    private static final long serialVersionUID = $!tool.serial();
#foreach($column in $tableInfo.fullColumn)
    #if(${column.comment})/**
     * ${column.comment}
     */#end

    private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
#end

#foreach($column in $tableInfo.fullColumn)
##Use macro definitions to implement get, set methods
#getSetMethod($column)
#end
}
