##Define initial variables
#set($tableName = $tool.append($tableInfo.name, "Service"))
##Set callback
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/service"))

##Get the primary key
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}service;

import $!{tableInfo.savePackageName}.entity.$!{tableInfo.name};
import org.springframework.data.domain.Page;
import org.springframework.data.domain.PageRequest;

/**
 * $!{tableInfo.comment}($!{tableInfo.name}) Table service interface
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{tableName} {

    /**
     * Query a single piece of data by ID
     *
     * @param $!pk.name Primary key
     * @return Instance object
     */
    $!{tableInfo.name} queryById($!pk.shortType $!pk.name);

    /**
     * Paging query
     *
     * @param $!tool.firstLowerCase($!{tableInfo.name}) Filter
     * @param pageRequest  Paging object
     * @return Query results
     */
    Page<$!{tableInfo.name}> queryByPage($!{tableInfo.name} $!tool.firstLowerCase($!{tableInfo.name}), PageRequest pageRequest);

    /**
     * Add data
     *
     * @param $!tool.firstLowerCase($!{tableInfo.name}) Instance object
     * @return Instance object
     */
    $!{tableInfo.name} insert($!{tableInfo.name} $!tool.firstLowerCase($!{tableInfo.name}));

    /**
     * Change the data
     *
     * @param $!tool.firstLowerCase($!{tableInfo.name}) Instance object
     * @return Instance object
     */
    $!{tableInfo.name} update($!{tableInfo.name} $!tool.firstLowerCase($!{tableInfo.name}));

    /**
     * Delete data by primary key
     *
     * @param $!pk.name Primary key
     * @return Whether succeed
     */
    boolean deleteById($!pk.shortType $!pk.name);
}