##Import macro definition, set package name, class name, file name
$!{define.vm}
#setPackageSuffix("repository")
#setTableSuffix("Repository")
#save("/repository", "Repository.java")

##Get the primary key
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end
##Entity class name, primary key class name
#set($entityShortType = $!tableInfo.name)
#set($entityType = $!tableInfo.psiClassObj.getQualifiedName())
#set($pkShortType = $!pk.shortType)
#set($pkType = $!pk.type)

import $pkType;
import $entityType;
import org.springframework.data.mongodb.repository.MongoRepository;


/**
 * $!{tableInfo.comment} Persistence layer
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{tableName} extends MongoRepository<$entityShortType, $pkShortType> {
}
