##Import macro definition, set package name, class name, file name
$!{define.vm}
#setPackageSuffix("service")
#setTableSuffix("Service")
#save("/service", "Service.java")

##Get the primary key
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end
##Entity class name, primary key class name
#set($entityShortType = $!tableInfo.name)
#set($entityType = $!tableInfo.psiClassObj.getQualifiedName())
#set($entityVarName = $!tool.firstLowerCase($!tableInfo.name))
#set($pkShortType = $!pk.shortType)
#set($pkType = $!pk.type)

import $pkType;
import $entityType;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import java.util.Collection;
import java.util.List;


/**
 * $!{tableInfo.comment} Business Layer
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{tableName} {

    void save($entityShortType $entityVarName);

    void deleteById($pkShortType id);

    $entityShortType findById($pkShortType id);

    List<$entityShortType> findById(Collection<$pkShortType> ids);

    Page<$entityShortType> list(Pageable page);
}
