##Import macro definition
$!{define.vm}

##Set table suffix (macro definition)
#setTableSuffix("Dao")

##Save file (macro definition)
#save("/dao", "Dao.java")

##Package path (macro definition)
#setPackageSuffix("dao")

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import $!{tableInfo.savePackageName}.entity.$!tableInfo.name;

##Table Comments (Macro Definitions)
#tableComment("Table database access layer")
public interface $!{tableName} extends BaseMapper<$!tableInfo.name> {
}
