##Import macro definition
$!{define.vm}

##Save file (macro definition)
#save("/entity", ".java")

##Package path (macro definition)
#setPackageSuffix("entity")

##Automatically import packages (global variables)
$!{autoImport.vm}
import com.baomidou.mybatisplus.extension.activerecord.Model;
import java.io.Serializable;

##Table Comments (Macro Definitions)
#tableComment("Table entity class")
@SuppressWarnings("serial")
public class $!{tableInfo.name} extends Model<$!{tableInfo.name}> {
#foreach($column in $tableInfo.fullColumn)
    #if(${column.comment})//${column.comment}#end

    private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
#end

#foreach($column in $tableInfo.fullColumn)
#getSetMethod($column)
#end

#foreach($column in $tableInfo.pkColumn)
    /**
     * Get primary key value
     *
     * @return Primary key value
     */
    @Override
    protected Serializable pkVal() {
        return this.$!column.name;
    }
    #break
#end
}
