##Initialize area

##Remove the T_ prefix from the table
$!tableInfo.setName($tool.getClassName($tableInfo.obj.name.replaceFirst("book_","")))

##Referring to the Alibaba development manual, do not add the `is` prefix to the boolean variables in the POJO class, otherwise some framework parsing will cause serialization errors
#foreach($column in $tableInfo.fullColumn)
#if($column.name.startsWith("is") && $column.type.equals("java.lang.Boolean"))
    $!column.setName($tool.firstLowerCase($column.name.substring(2)))
#end
#end

##Implement dynamic exclusion columns
#set($temp = $tool.newHashSet("testCreateTime", "otherColumn"))
#foreach($item in $temp)
    #set($newList = $tool.newArrayList())
    #foreach($column in $tableInfo.fullColumn)
        #if($column.name!=$item)
            ##Use $tool.call to eliminate the return value when calling a method with a return value
            $tool.call($newList.add($column))
        #end
    #end
    ##Save again
    $tableInfo.setFullColumn($newList)
#end

##Tampering with import List
#set($temp = $tool.newHashSet())
#foreach($column in $tableInfo.fullColumn)
    #if(!$column.type.startsWith("java.lang."))
        ##Use $tool.call to eliminate the return value when calling a method with a return value
        $tool.call($temp.add($column.type))
    #end
#end
##Cover
#set($importList = $temp)