##Import macro definition
$!{define.vm}

##Set table suffix (macro definition)
#setTableSuffix("Dao")

##Save file (macro definition)
#save("/dao", "Dao.java")

##Package path (macro definition)
#setPackageSuffix("dao")

import java.util.List;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Param;
import $!{tableInfo.savePackageName}.entity.$!tableInfo.name;

##Table Comments (Macro Definitions)
#tableComment("Table database access layer")
public interface $!{tableName} extends BaseMapper<$!tableInfo.name> {

/**
* Add data in batches (MyBatis native foreach method)
*
* @param entities List<$!{tableInfo.name}> List of instance objects
* @return Number of rows affected
*/
int insertBatch(@Param("entities") List<$!{tableInfo.name}> entities);

/**
* Batch add or update data by primary key (MyBatis native foreach method)
*
* @param entities List<$!{tableInfo.name}> List of instance objects
* @return Number of rows affected
* @throws org.springframework.jdbc.BadSqlGrammarException When the input parameter is an empty List, an exception to SQL statement error will be thrown, please verify the input parameter by yourself
*/
int insertOrUpdateBatch(@Param("entities") List<$!{tableInfo.name}> entities);
}
