##Import macro definition
$!{define.vm}

##Set table suffix (macro definition)
#setTableSuffix("Service")

##Save file (macro definition)
#save("/service", "Service.java")

##Package path (macro definition)
#setPackageSuffix("service")

import com.baomidou.mybatisplus.extension.service.IService;
import $!{tableInfo.savePackageName}.entity.$!tableInfo.name;

##Table Comments (Macro Definitions)
#tableComment("Table service interface")
public interface $!{tableName} extends IService<$!tableInfo.name> {
}
