##Import macro definition
$!{define.vm}

##Set table suffix (macro definition)
#setTableSuffix("ServiceImpl")

##Save file (macro definition)
#save("/service/impl", "ServiceImpl.java")

##Package path (macro definition)
#setPackageSuffix("service.impl")

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import $!{tableInfo.savePackageName}.dao.$!{tableInfo.name}Dao;
import $!{tableInfo.savePackageName}.entity.$!{tableInfo.name};
import $!{tableInfo.savePackageName}.service.$!{tableInfo.name}Service;
import org.springframework.stereotype.Service;

##Table Comments (Macro Definitions)
#tableComment("Table service implementation class")
@Service("$!tool.firstLowerCase($tableInfo.name)Service")
public class $!{tableName} extends ServiceImpl<$!{tableInfo.name}Dao, $!{tableInfo.name}> implements $!{tableInfo.name}Service {
}
